
<div class="apply">
    <h1>We need ur details to contact {{name}} </h1>
      <form (ngsubmit)="click()">
  <br>
          <mat-form-field appearance="outline">
            <mat-label>Enter First Name</mat-label>
            <input name="fName"  required matInput placeholder="First Name">
          </mat-form-field>
          <mat-form-field appearance="outline">
            <mat-label>Enter Last Name</mat-label>
            <input name="Lname"  required matInput placeholder="Last Name">
          </mat-form-field>
     
       
        
        <mat-form-field appearance="outline">
          <mat-label>Address</mat-label>
          <input name="address1"  required matInput placeholder="Address line 1">
        </mat-form-field>
        
        <br>
        <mat-form-field appearance="outline">
          <mat-label>Address</mat-label>
          <input name="address2"  required matInput placeholder="Address line 2">
        </mat-form-field>
        <br>
        <mat-form-field>
            <mat-select required placeholder="Select District" name="district">  
                <mat-option required *ngFor="let x of dist" [value]="x">
                {{x}}</mat-option> 
            </mat-select>
        </mat-form-field> <br>
            <mat-form-field appearance="outline">
              <mat-label>Mobile number</mat-label>
              <input name="mobile"  required type="number" matInput placeholder="+91-xxxxx-xxxxx">
            </mat-form-field>
            <br>
            <button (click)="click()" type="submit" mat-raised-button color="primary">Hire Now</button>
        </form>
  </div>