<div class="home">
  <div class="container">
    <img src="/assets/img/banner.jpg" alt="Snow" style="width:100%;">
    <div class="centered ">
     <div class="transbox">
       <h1>Labour Finder</h1>
       <h3>A vast Collection Labours across Kerala</h3>
       <button (click)="showclick()" mat-flat-button color="accent">Show</button>
       <button (click)="addclick()" mat-flat-button color="accent">Add</button> <br>
       <button (click)="editclick()" mat-flat-button color="accent">Update</button>
       <button (click)="removeclick()" mat-flat-button color="accent">Remove</button>
 
    </div>
  </div>
  </div>
</div>
